/*Keyframes*/
@keyframes move{
  from { top: 10px; right: 25px; }
  to   { top: 0px; right: 0px; }

}

@keyframes move2{
  from { top: 10px; right: 25px; }
  to   { top: 0px; right: 0px; }

}

@keyframes move3{
    from{ left: 10px;}
    to { left: 0px;}
}